extends layout

block content
  div.panel-heading
    h3= title
  div.panel-body
    each data, i in posts
      if i % 2 == 0
        div.alert.alert-info
          h4 #{data.title}
          p #{data.content}
          p #{data.author.full_name}
          p #{data.created_at}
      else
        div.alert.alert-warning
          h4 #{data.title}
          p #{data.content}
          p #{data.author.full_name}
          p #{data.created_at}
